# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
venv/
env/
.venv/

# Local Databases (Old SQLite files)
*.db
*.sqlite3

# Environment Secrets
.env

# Operating System files
.DS_Store
Thumbs.db
